.card {
    background:rgba(0,5,0,0.4);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 85%;
    border-radius: 5px;
    margin: auto;
    text-align: justify;
    margin-top: 10px;
    height: 250px;

}


.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;

	text-align: center;
	cursor: pointer;
}
.AdminList{
    background-image: url('/img/about/bcd.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
.grid figure img {
	position: relative;
	display: block;
  height: 120px;
  width: 100px;
	/*min-height: 100%;
	max-width: 100%;*/
	opacity: 0.8;
}

.aname{
  color:black;
}

.image:hover{
  -moz-transform:scale(1.3);
  -webkit-transform:scale(1.3);
  transform:scale(1.3);
}
.Name{
  float: right;
}
a:link {
     text-decoration: none ;
  }
#download-link:hover
  {
    color:white;
    text-decoration:none;
    cursor:pointer;
   }
.card1{
    background:white;

    width: 80%;

    margin: auto;
    text-align: justify;
    margin-top: 10px;

}

#report{

  height: auto;

}
.fa fa-download{
 zoom:2.0;
}

#report1{
  float: left;
  margin-right: 20px;
  margin-left: 50px;
}

.container1{
  margin-bottom: 10px;
  background-color: #f5f5f5;
  opacity: 0.8;
}

.back{
  background-color: black;
  zoom:1.5;
  color: white;
}

hr{
  border:1px solid black;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container1 {

    padding: 15px 10px;
}
h3{
  color: black;
}

.col-sm-4,.col-sm-8{
  color: black;
}

.button1{
 visibility: hidden;
 color:green;
}
.card:hover .button1,{
  visibility: visible;
}
#simage{
  height: 40px;
  width: 40px;
}
#map1{
  height: 500px;
  width: 1000px;
  margin-left: 60px;
  align-items: center;

}
.back{
  background-color: black;
  color:white;
  margin-left: 110px;
  float: left;
  border: 0px;
  width: 25px;
  border-radius: 300%;
}
.button2{
  color:red;
  visibility: hidden;
}
.card:hover .button2{
  visibility: visible;
}

.b10{
  color:white;
  background-color: green;
  background-image: linear-gradient(#68feff ,#e0ffff );
  border-radius: 6px;
    font-size: 20px;
    color: black;
}

.abc{
    zoom:1;
}
.l:hover{
  text-decoration: none;

}
