.AdminFeatureList{
  background-image: url('/img/about/efg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;

}

.UserFeatureList label{
  font-style: italic;
  font-family: cursive;
  color: black;
}

.grid1 figure {
	position: relative;
	float: right;
	overflow: hidden;
	margin: 10px 1%;
	text-align: center;
	cursor: pointer;
}

.grid1 figure img {
	position: relative;
	display: block;
  height: 200px;
  width: 200px;
	/*min-height: 100%;
	max-width: 100%;*/
	opacity: 0.8;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 85%;
  height:auto;
  border-radius: 5px;
  margin: auto;
  opacity: 0.7;
  text-align: justify

}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container1 {
  opacity: 1;
  padding: 15px 10px;
}

.col-sm-4,.col-sm-8{
  color: black;
}
.imagetext img{

  float:left;
  height:70px;
  width:70px;
  background-repeat: no-repeat;
}

.image p{
  margin-left: 40px;
  margin-top: 10px;
}

.images{
  height: auto;
  width:  auto;
}
.b14{
  color:white;
  background-color: green;
  background-image: linear-gradient(#68feff ,#e0ffff );
  border-radius: 6px;
    font-size: 18px;
    color: black;
}
.tdata1{
  float: left;
  margin-left: 30px;
  width: 300px;
  text-align: justify;
}
.tdata2{
  float: right;
  margin-right: -200px;
}
