

.SurveyMain{

  padding: 10px;
  font-size: 40px;
  font-family: serif;
  width:65%;
  background-color:rgb(160,160,160);
  height: auto;


}
.b4{
  color:white;
  background-color: green;
  background-image: linear-gradient(#68feff ,#e0ffff );
  border-radius: 6px;
    font-size: 20px;
    color: black;
}

.fa-close{
    background: none;
    color: red;

  }

  .fa-refresh{
    background: none;
      color:green;

  }


.anchor{
  color: black;
}
.td1,.anchor{
  font-size: 20px;
}
.moduleSection th{
  font-size: 20px;

}
.border{
text-align: center;
}

tr td th .td2{
  border: 0;
  text-align: center;
}



th,.td1{

  border: 1px solid black;
  text-align: center;
}

.td2{
  border: 0;
  text-align: center;
}

.moduleSection td,th,a{
  color:black;
  text-align: center;
}

.moduleSection {
  border: 1px solid black;
  border-radius: 6px;
  text-align: center;
  width:65%;
}
th{
  text-align: center;
}

i{
  background-color:none;
}

.delete{
  visibility: hidden;

}
tr:hover button{
   visibility: visible;
   border: 0px;
   background-color: transparent;
 }
 .update{
   visibility: hidden;

 }


 td.delete{
    border: none;
 }
.visible{
   border: none;
 }
 .delete{
   background-color: transparent;
 }

table,td{
  border: 1px;
  color: black;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border-top-left-radius: 10px 5px;
  border-bottom-right-radius: 10% 5%;
  border-top-right-radius: 10px;
  text-align: center;

}
table{
    width: 80%;
}
