.newsurveycreate{

  background-color:rgb(160,160,160);
  height: 400px;
  width: 500px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
.abc{
  background-image: url('/src/images/back.jpeg');
}

.newsurveycreate h1{
  color:black;
  font-family: 'monotype corsiva';font-size: 40px;
}

.newsurveycreate label{
  color:white;
  float: left;
  margin-left: 40px;
  text-align: justify;
  font-size: 18px;
}
input{
  display: inline-block;
}
.label{
 float: left;
 margin-left: 50px;
}

.b6{
  color:white;
  background-color: green;
  background-image: linear-gradient(#68feff ,#e0ffff );
  border-radius: 6px;
    font-size: 20px;
    color: black;
}

.t1{
  width: 260px;
  float: right;
  margin-right: 80px;
  height: 34px;
}
