

.SurveyMain{

  padding: 10px;
  font-size: 40px;
  font-family: serif;
  width:65%;
  background-color:rgb(160,160,160);
  height: auto;


}
.b4{
    background-color: #0EBFE9;
    color:black;
    font-weight: bold;
    border-radius: 15px;

  border: 2px solid black;
  height: 40px;
  width: 250px;
  font-size: 22px;
  font-weight: normal;
  border-radius: 10px;
}
.b4:hover{
  background-color: white;
  color: red;
}

.fa-close{
    background: none;
    color: red;

  }

  .fa-refresh{
    background: none;
      color:green;

  }


.anchor{
  color: black;
}
.td1,.anchor{
  font-size: 20px;
}
.moduleSection th{
  font-size: 20px;

}


tr td .td2{
  border: 0;
}



th,.td1{

  border: 1px solid black;
}

.td2{
  border: 0;
}

.moduleSection td,th,a{
  color:black;
}

.moduleSection {
  border: 1px solid black;
  border-radius: 6px;
  width:65%;
}

i{
  background-color:none;
}

.delete{
  visibility: hidden;

}
tr:hover button{
   visibility: visible;
   border: 0px;
   background-color: transparent;
 }
 .update{
   visibility: hidden;

 }


 td.delete{
    border: none;
 }
.visible{
   border: none;
 }

table,td{
  border: 1px;
  color: black;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border-top-left-radius: 10px 5px;
  border-bottom-right-radius: 10% 5%;
  border-top-right-radius: 10px;
}
