.newsurveycreate{

  background:rgba(0,0,0,0.7);
  height: 400px;
  width: 500px;
margin-left: 350px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}

.newsurveycreate h1{
  color:white;
  font-family: 'monotype corsiva';font-size: 40px;
}

.newsurveycreate label{
  color:white;
  margin-left: 40px;
  text-align: justify;
}
input{
  display: inline-block;
}
