.loginpage{


  /*background:rgba(0,0,0,0.8);*/

  height: 400px;
  width: 350px;
  border-radius: 40px;
/*margin-left: 400px;*/
}
h1{
  color: black;
}
.logintext{
  color:white;
  opacity: 1;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: 	#D3D3D3;
}
.Login{
    background-image: url('/src/images/back1.jpeg');
  background-size: auto ;
   background-repeat: no-repeat;
}
.Login button{
  color:white;
  background-color: green;
  background-image: linear-gradient(green,lightgreen);
  border-radius: none;
}
