.Signup{

  background:rgba(0,0,0,0.8);
  height: 400px;
  width: 500px;
margin-left: 400px;

}

.Signup p{
  color: white;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}

.signuptext{
  color:white;
  opacity: 1;
}
