
label{
  color:black;
}
.updatefeaturelist{
  background-image: url('/img/about/bcde.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.UpdateFeatureList{
  background-color: #f5f5f5;
  opacity: 0.8;
  margin-bottom: 10px;
  border-radius: 10px;
  border: black 1px;
    height:auto;
    width: 800px;

}
input[type"text"]{
  border: 1px 1px 1px 1px black;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
.button{
  color:white;
  background-color: green;
  background-image: linear-gradient(#68feff ,#e0ffff );
  border-radius: 6px;
    font-size: 20px;
    color: black;
}
.c10{
  margin-left: -340px;
  color: black;
}
.m{
  float: left;
  margin-left: 50px;
  font-size: 20px;
}
.ghk{
  border: 1px;
  border-color: black;
  border-style: solid;
}
