
label{
  color:white;
}
.Updatefeature{
  color:white;
  font-style: normal;
  font-size: 30px;
}

.UpdateFeatureList2{

  background:rgba(0,0,0,0.7);
  height:auto;
  width: 1000px;

}

::-webkit-input-placeholder {
  color: black;
}

.UpdateFeatureList2 label{
    margin-left: 20px;

}

#para1{

  text-align: justify;

}
.b6{
  background-color: #0EBFE9;
  color:black;
  font-weight: bold;
  border-radius: 8px;
  border: 2px solid black;
  height: 30px;
  font-size: 15px;
}
.b6:hover {
    background-color:white;

}
.choose{
  margin-left: 38px;
  color: white;
}
