
label{
  color:white;
}
.Updatefeature{
  color:white;
}

.UpdateFeatureList2{

    background:rgba(0,0,0,0.7);
  height:auto;
  width: 600px;
margin-left: 350px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}

.UpdateFeatureList2 label{
    margin-left: 20px;

}

#para1{

  text-align: justify;

}
