
label{
  color:white;
}
.Updatefeature{
  color:white;
}

.UpdateFeatureList{
    background:rgba(0,0,0,0.7);
    height:auto;
    width: 600px;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
.button{
  color:white;
  background-color: green;
  background-image: linear-gradient(#68feff ,#e0ffff );
  border-radius: 6px;
    font-size: 20px;
    color: black;
}
.c10{
  margin-left: -100px;
  font: white;
}
.m{
  float: left;
  margin-left: 50px;
}
