.UsrNewEntry{
  padding: 100px;
  background:rgba(0,0,0,0.8);
  font-size: 4vw;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 25px;
  font-family: serif;
  font-style: normal;
  font-weight: bold;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height:auto;
  width: auto;

}
.button{
  background-color: #0EBFE9;
  color:black;
  font-weight: bold;
  border-radius: 15px;
  font-size: 15px;
}


#upload{
position: absolute;
right: 40;
}

.textbox,.ampm{
   display: inline-block;
   clear: left;
   width: 150px;
   text-align: center;
}
.map{

  height: 200px;
  width: 200px;
  margin-left: 90px;
  align-items: center;

}

#para{
  text-align: justify;
}
 .UsrNewEntry label{
   font-size: 20px;
   color: white;
 }
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(128,128,128);
}
