.SurveyList{
  padding: 10px;
  font-size: 40px;
  font-family: serif;
  width:85%;
  background-image: url('/img/about/bcde.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  width: 80%;

}

input[type=checkbox] {
    zoom: 2.5;
}
.anchor{
  color: black;
}


th,.td1{

border: 1px solid black;
}
.moduleSection {

    border: 1px solid black;

    border-radius: 6px;
    width: 100%;
}

table,td{
border: 1px;
  color: black;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border-top-left-radius: 10px 5px;
border-bottom-right-radius: 10% 5%;
border-top-right-radius: 10px;
text-align: center;
}
