.UsrNewEntry{
  padding: 100px;
  background-image: url('/img/about/abc.jpeg');
  background-size: cover;
  font-size: 4vw;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 25px;
  font-family: serif;
  font-style: normal;
  font-weight: bold;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height:auto;
  width: auto;

}
.button{
  color:white;
  background-color: green;
  background-image: linear-gradient(#68feff ,#e0ffff );
  border-radius: 6px;
    font-size: 20px;
    color: black;
}


#upload{
position: absolute;
right: 40;
}

.textbox,.ampm{
   display: inline-block;
   clear: left;
   width: 150px;
   text-align: center;
}
.map{

  height: 200px;
  width: 200px;
  margin-left: 90px;
  align-items: center;

}

#para{
  text-align: justify;
}
 .UsrNewEntry label{
   font-size: 20px;
   color: white;
 }
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(128,128,128);
}
.cp{
  color: white;
  margin-left: 20px;
}
